{% extends 'base.html.twig' %}

{% block title 'Hello City!' %}

{% block body %}


    <img src="{{ asset('images/Flag_of_Quebec.svg.png') }}" width="200" alt="Quebec Flag"
         class="h-32 mt-12rounded shadow-md">

    <h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600">Hello from Quebec!</h1>

    <p class="text-lg text-gray-800">It's currently {{ 'now'|date('h:i A') }}.</p>
{% endblock %}